<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <parameter name="scheme" value="https"/>
    <parameter name="host" value="api.bilibili.com"/>
    <parameter name="requestCharset" value="utf-8"/>
    <parameter name="responseCharset" value="utf-8"/>
    <parameter name="port" value="443"/>

    <test name="interfaceCopy" preserve-order="true">
        <classes>
            <class name="interfaceCopy.Copy"/>
        </classes>
    </test>

</suite>